@import "tailwindcss";

@theme {
  --color-bg: #E7DFD9;
  --color-surface: #F4F1EE;
  --color-text: #1E1E1C;
  --color-muted: #6B6A67;
  --color-accent: #5C4033;
  --color-accent-contrast: #FFFFFF;
  --color-card-info: #d2bba5ff;
  
  --shadow-soft: 0 8px 24px rgba(18, 18, 18, 0.08);
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7DFD9;
  color: #1E1E1C;
}

#root {
  min-height: 100vh;
}
